<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portfolio.selldream.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.portfolio.selldream.vo.User">
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="user_nm" jdbcType="VARCHAR" property="userNm" />
    <result column="reg_dtm" jdbcType="TIMESTAMP" property="regDtm" />
    <result column="status_cd" jdbcType="CHAR" property="statusCd" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="coin" jdbcType="INTEGER" property="coin" />
  </resultMap>
  
  <insert id="insert" parameterType="com.portfolio.selldream.vo.User">
    INSERT 	INTO user_tbl (
    		user_id, 
    		user_pwd, 
    		user_nm, 
      		reg_dtm, 
      		status_cd, 
      		phone, 
      		address, 
      		email, 
      		coin)
    VALUES (#{userId,jdbcType=VARCHAR}, 
    		#{userPwd,jdbcType=VARCHAR}, 
    		#{userNm,jdbcType=VARCHAR}, 
      		#{regDtm,jdbcType=TIMESTAMP}, 
      		#{statusCd,jdbcType=CHAR}, 
      		#{phone,jdbcType=VARCHAR}, 
      		#{address,jdbcType=VARCHAR}, 
      		#{email,jdbcType=VARCHAR}, 
      		#{coin,jdbcType=INTEGER})
  </insert>
  <select id="getUser" parameterType="String" resultType="String">
    SELECT 	* FROM user_tbl
    WHERE  	status_cd != 'D'
    AND		user_id = #{name}
  </select>
  <select id="countUser" parameterType="java.lang.Long" resultType="java.lang.Long">
    SELECT 	count(*) FROM user_tbl
  </select>
  <select id="list" resultType="map">
    SELECT 	* FROM user_tbl
    WHERE  	status_cd != 'D'
  </select>
  <update id="updateUser" parameterType="map">
    UPDATE 	user_tbl
    SET 	user_pwd = #{record.userPwd,jdbcType=VARCHAR},
      		user_nm = #{record.userNm,jdbcType=VARCHAR},
      		status_cd = 'U',
      		phone = #{record.phone,jdbcType=VARCHAR},
      		address = #{record.address,jdbcType=VARCHAR},
      		email = #{record.email,jdbcType=VARCHAR}
    WHERE	user_id = #{record.userId,jdbcType=VARCHAR}
  </update>
  <delete id="deleteUser" parameterType="map">
    UPDATE 	user_tbl
    SET 	status_cd = 'D'
    WHERE	user_id = #{record.userId,jdbcType=VARCHAR}
  </delete>
</mapper>